body{
	font-family: calibri;
	margin: 0 auto;
	width: 1000px;
}
h1,h2,h3{
	text-transform: uppercase;
	color: #615c5c;
}
p{
	font-size: 1.2rem;
	color: #888888;
}
@media (max-width: 768px) {
	body{
		width: 500px
	}
}